/.vs/RustMatch3/v15/.suo
/.vs/RustMatch3/v15/Browse.VC.db
/.vs/RustMatch3/v15/Browse.VC.opendb
target/*
target_vs/*
/match3_game/target/*
/build_environment/nvtt_export/*
/match3_game/src_data/textures/KawaiiCookieAssetPack/*
/match3_game/tmp_data/*
/match3_game/target_vs/*
/match3_game/.vs/RustMatch3/v15/.suo
/match3_game/.vs/RustMatch3/v15/Browse.VC.db
cargo-timing*.html
